* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

.page {
  margin-top: 150px;

}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0 1.5rem;
}

.text-h2, form {
  text-align: center;
}

#features, #howitworks, #pricing {font-size: 2rem;
  text-decoration: underline;
}

#email  {
  height: 1.5rem;
}

#submit {
  width: 185px;
  height: 35px;
  margin-top: 5px;
  background-color: mediumseagreen;
  border-radius: .5rem;
  font-size: 1.75rem;
}

#video-section {
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 560px;
  width: 100%;
}

#prices {
  display: flex;
  justify-content: center;
}

.pocketwatch, .wristwatch, .womenswatch {
  border: 1px solid black;
  text-align: center;
  margin: 0 20px;
  max-width: 250px;
  width: 100%;
}


.watch {
  background-color: lightgrey;
  font-size: 1.5rem;
  
}

.select {
  background-color: peru;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 6px;
}

footer {
  text-align: center;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px;
}

footer p {
  font-size: .75rem;
}

@media only screen and (max-width: 650px) {
  .nav-links, #prices {
    flex-direction: column;
  }
  .pocketwatch, .wristwatch, .womenswatch {
    margin: 10px 0;
  }
}