* {
  box-sizing: border-box;
}

#page {
  margin-top: 50px;
}


#header {
  /* border: 2px solid red; */
}

#nav-bar {
  /* border: 4px solid green; */
  display: flex;
  justify-content: space-between;
}

.logo {
  /* border: 2px solid blue; */
}

#nav-bar {
  /* border: 2px solid purple; */
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0 1.5rem;
}

.text-h2, form {
  text-align: center;
}

#submit {
  width: 210px;
  height: 50px;
  background-color: mediumseagreen;
  font-size: 2.15rem;
}

#video-section {
  display: flex;
  justify-content: center;
}



footer {
  text-align: center;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px;
}

footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 650px) {
  .nav-links {
    flex-direction: column;
  }
}